
<section class="page-section">
    <div class="container">
        <div class="about-heading-content">
        <div class="row">
                <div class="col-xl-6 col-xs-10 mx-auto">
                    <div class="bg-faded shadow rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">Editing Profile</span>
                        </h2>
                        <p>
                            <%= render 'form', profile: @profile %>

                            <%= link_to 'Back', @profile %> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 






