<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.collectionist_name %>!</h1>

    <h3>The user: <%= @email %> y and you have made a swap.</h3>
    <br>

    <p>Enjoy your new music and continue to grow your vinyl collection with Vinylswapp.</p>
    <br>
    <br>

    <%= @greeting %>, find us in 👉 <a href="https://floating-springs-40022.herokuapp.com/">HERE</a> 👈
    --
    <br>
    <i>Vinylswapp</i>
    <br>
  </body>
</html>

