<section class="page-section">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded shadow-lg rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Editing Vinyl</span>
            </h2>
            <p>

              <%= render 'form', vinyl: @vinyl %>
              <%= link_to 'Show', @vinyl, class: "btn btn-outline-dark btn-sm" %> 
              <%= link_to 'Back', vinyls_path,  class: "btn btn-outline-dark btn-sm" %>
           </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 













