<section class="page-section ">
  <div class="container mx-auto">     
    <h2 class="section-heading mb-5 cta-inner bg-faded text-center border border-warning rounded p-2">
      <span class="section-heading-lower">Record's Box <%= image_tag("box.png", size: "35") %></span>
    </h2>
    <div class="py-4 page-section cta-inner bg-faded border border-warning">
      <div class="d-grid gap-2 d-md-flex flex-row justify-content-md-end mt-2">
        <div class="input-group p-2 bd-highlight justify-content-md-end">
            <%= link_to new_vinyl_path do %>
              <button class="btn btn-outline-dark shadow btn-sm" type="button">Add more vinyls <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vinyl-fill" viewBox="0 0 16 16">
              <path d="M8 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0 3a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 8a4 4 0 1 0 8 0 4 4 0 0 0-8 0z"/>
            </svg></button>
              
            <% end %>
        </div>
      </div>
      <p>
        <%= render 'shared/vinylslist' %>       
      </p> 
    </div>
    <div class="pagination justify-content-center">
      <h5 class="m-4 text-center p-3">
        <span><%= paginate @vinyls %></span>
      </h5>
    </div>
  </div>
</section>

