<section class="page-section">
  <div class="container">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-7 mx-auto">
          <div class="bg-faded shadow-lg border border-warning rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower text-center">New Vinyl</span>
            </h2>
            <div class="mx-auto">
              <%= render 'form', vinyl: @vinyl %>
              <%= link_to 'Back', vinyls_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 