<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.collectionist_name %>!</h1>

    <h3>El usuario: <%= @email %> y tú han cerrado un trueque</h3>
    <br>

    <p>Puedes comunicarte por correo con él/ella para concretar el intercambio de los vinilos.</p>
   
    <br><br>

    <p>Que disfrutes tu nueva música y continúa aumentando tu colección de vinilos con Vinylswapp.</p>

    --
    <br>
    <i>Vinylswapp</i>
    <br>
  </body>
</html>