// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    font-family: 'Saira Semi Condensed', sans-serif; 
}

.tick {
    position: relative;
    top: 0.5vh
}

.main {
    height: auto;
    width: 27vw;
    background-color: #d4d0c9ef;
    margin-left: 12vw;
    position: relative;
    top: 15vh;
    padding: 3vh
}

.picture img {
    height: 8vw;
    width: 8vw;
    position: relative;
    top: 1vw
}

.name {
    font-size: 20px
}

.details p {
    position: relative;
    top: 1vw
}

.name i {
    color: rgba(62, 168, 187, 0.852)
}

td {
    text-align: center;

}

tr {
    border: 2px solid white
}

.table {
    margin-top: 2vw
}

.edit {
    background-color: #d79925ef !important;
    width: 90%;
    color: #fff !important
}

@media only screen and (max-width: 425px) {
    .main {
        width: 85vw !important;
        height: auto
    }

    .picture img {
        height: 40vw !important;
        width: 40vw !important;
        position: relative;
        left: 4vw
    }

    .details p {
        position: relative;
        top: 5vw
    }

}

@media only screen and (max-height: 725px) {
    .main {
        height: auto
    }
}

@media only screen and (max-width: 820px) {
    .main {
        width: 80vw !important;
        height: auto;
        margin: auto;
        margin-top: 4vh
    }

    .picture img {
        height: 20vw;
        width: 20vw;
        position: relative;
        left: 1vw;
        top: 1vh
    }

    .details p {
        position: relative;
        top: 2vw
    }

}

.nav-item {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.nav-profile:focus {
    background-color: rgb(220, 174, 99) !important ;
} 

.nav-profile {
    background-color: #b9b8b6ef !important;
}

.like:hover {
    text-decoration: none;
}

.fa-thumbs-up, .fa-thumbs-down {
    color: rgb(96, 92, 92);
}


.bg-transparent {
    backdrop-filter: blur(25px);
}

path:hover{
    fill:rgba(215, 212, 210, 0.391) !important;
}
